
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    text-align:top;
    color: #ab0505;
  }
  
  form {
    background-color: #9bddfc;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  
  
 